In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load data
df = pd.read_csv("Airbnb_Open_Data.csv")

C:\Users\ELCOT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [4]:
#Clean Column Names (snake_case)
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [5]:
# Know your data
df.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [6]:
pd.set_option('display.max_columns', 30)

In [7]:
df.shape

(102599, 26)

In [8]:
df.isnull().sum()

id                                     0
name                                 250
host_id                                0
host_identity_verified               289
host_name                            406
neighbourhood_group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country_code                         131
instant_bookable                     105
cancellation_policy                   76
room_type                              0
construction_year                    214
price                                247
service_fee                          273
minimum_nights                       409
number_of_reviews                    183
last_review                        15893
reviews_per_month                  15879
review_rate_number                   326
calculated_host_listings_count       319
availability_365                     448
house_rules                        52131
license                           102597
dtype: int64

In [9]:
# data types
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_identity_verified             object
host_name                          object
neighbourhood_group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country_code                       object
instant_bookable                   object
cancellation_policy                object
room_type                          object
construction_year                 float64
price                              object
service_fee                        object
minimum_nights                    float64
number_of_reviews                 float64
last_review                        object
reviews_per_month                 float64
review_rate_number                float64
calculated_host_listings_count    float64
availability_365                  float64
house_rules                        object
license                            object
dtype: object

In [10]:
# Remove Duplicates
df = df.drop_duplicates()

In [11]:
df.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [12]:
# Handle Missing Values Logically
# Identify missing data
missing_summary = df.isnull().sum().sort_values(ascending=False)
print("Missing values per column:\n", missing_summary)

Missing values per column:
 license                           102056
house_rules                        51842
last_review                        15832
reviews_per_month                  15818
country                              532
availability_365                     448
host_name                            404
minimum_nights                       400
review_rate_number                   319
calculated_host_listings_count       319
host_identity_verified               289
service_fee                          273
name                                 250
price                                247
construction_year                    214
number_of_reviews                    183
country_code                         131
instant_bookable                     105
cancellation_policy                   76
neighbourhood_group                   29
neighbourhood                         16
long                                   8
lat                                    8
id                                     0
host_id                                0
room_type                              0
dtype: int64

In [13]:
# Fill numeric columns with 0 or median, string columns with mode or 'Unknown' only if logical
fill_zero_cols = ['minimum_nights', 'number_of_reviews', 'review_rate_number', 'calculated_host_listings_count', 'availability_365']
for col in fill_zero_cols:
    df[col] = df[col].fillna(0).astype(int)

In [14]:
df.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10,9,10/19/2021,0.21,4,6,286,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30,45,5/21/2022,0.38,4,2,228,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3,0,NaN,NaN,5,1,352,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30,270,7/5/2019,4.64,4,1,322,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10,9,11/19/2018,0.10,3,1,289,"Please no smoking in the house, porch or on th...",NaN

In [15]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_identity_verified             object
host_name                          object
neighbourhood_group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country_code                       object
instant_bookable                   object
cancellation_policy                object
room_type                          object
construction_year                 float64
price                              object
service_fee                        object
minimum_nights                      int32
number_of_reviews                   int32
last_review                        object
reviews_per_month                 float64
review_rate_number                  int32
calculated_host_listings_count      int32
availability_365                    int32
house_rules                        object
license                            object
dtype: object

In [16]:
# Clean and Convert Price & Fees Columns
for money_col in ['price', 'service_fee']:
    df[money_col] = (
        df[money_col]
        .astype(str)
        .replace('[\$,]', '', regex=True)
        .replace('nan', 0)
        .astype(float)
    )

In [17]:
# Parse Dates & Handle Date Features
if 'last_review' in df.columns:
    df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')

In [18]:
df.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,966.0,193.0,10,9,2021-10-19,0.21,4,6,286,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,142.0,28.0,30,45,2022-05-21,0.38,4,2,228,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,620.0,124.0,3,0,NaT,NaN,5,1,352,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,368.0,74.0,30,270,2019-07-05,4.64,4,1,322,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,204.0,41.0,10,9,2018-11-19,0.10,3,1,289,"Please no smoking in the house, porch or on th...",NaN

In [21]:
#Standardize Categorical Columns (lowercase, no spaces)
cat_cols = ['host_identity_verified', 'cancellation_policy', 'room_type', 'neighbourhood']
for col in cat_cols:
    if col in df.columns:
        df[col] = df[col].astype(str).str.lower().str.replace(' ', '_')

In [22]:
#Fix Construction Year or Other Int Columns
if 'construction_year' in df.columns:
    df['construction_year'] = (
        df['construction_year']
        .fillna('2012')
        .astype(str)
        .str.extract(r'(\d{4})')
        .astype(int)
    )

In [23]:
#Drop Unnecessary Columns
drop_cols = ['house_rules', 'country', 'country_code', 'name', 'license', 'reviews_per_month']
for col in drop_cols:
    if col in df.columns:
        df.drop(columns=[col], inplace=True)

In [24]:
# Final Clean
df = df.dropna()  # Only if needed for downstream tasks

In [25]:
df.head()

,id,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,review_rate_number,calculated_host_listings_count,availability_365
0,1001254,80014485718,unconfirmed,Madaline,Brooklyn,kensington,40.64749,-73.97237,False,strict,private_room,2020,966.0,193.0,10,9,2021-10-19,4,6,286
1,1002102,52335172823,verified,Jenna,Manhattan,midtown,40.75362,-73.98377,False,moderate,entire_home/apt,2007,142.0,28.0,30,45,2022-05-21,4,2,228
3,1002755,85098326012,unconfirmed,Garry,Brooklyn,clinton_hill,40.68514,-73.95976,True,moderate,entire_home/apt,2005,368.0,74.0,30,270,2019-07-05,4,1,322
4,1003689,92037596077,verified,Lyndon,Manhattan,east_harlem,40.79851,-73.94399,False,moderate,entire_home/apt,2009,204.0,41.0,10,9,2018-11-19,3,1,289
5,1004098,45498551794,verified,Michelle,Manhattan,murray_hill,40.74767,-73.97500,True,flexible,entire_home/apt,2013,577.0,115.0,3,74,2019-06-22,3,1,374

In [26]:
#Save Cleaned Data
df.to_csv("airbnb_cleaned.csv", index=False)

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85781 entries, 0 to 102057
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              85781 non-null  int64
 1   host_id                         85781 non-null  int64
 2   host_identity_verified          85781 non-null  object
 3   host_name                       85781 non-null  object
 4   neighbourhood_group             85781 non-null  object
 5   neighbourhood                   85781 non-null  object
 6   lat                             85781 non-null  float64
 7   long                            85781 non-null  float64
 8   instant_bookable                85781 non-null  object
 9   cancellation_policy             85781 non-null  object
 10  room_type                       85781 non-null  object
 11  construction_year               85781 non-null  int32
 12  price                           85781 non-null  float64
 13  service_fee                     85781 non-null  float64
 14  minimum_nights                  85781 non-null  int32
 15  number_of_reviews               85781 non-null  int32
 16  last_review                     85781 non-null  datetime64[ns]
 17  review_rate_number              85781 non-null  int32
 18  calculated_host_listings_count  85781 non-null  int32
 19  availability_365                85781 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(6), int64(2), object(7)
memory usage: 11.8+ MB
None